name: CI
on:
  push:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set permission for BUILD
        run: chmod 777 ./BUILD.sh
      - name: Set permission for TEST
        run: chmod 777 ./TEST.sh
      - name: Run Build
        run: ./BUILD.sh
      - name: Run Test
        run: ./TEST.sh